.checkout {
display: flex;
background-color: #EAEDED;
}
.checkout__left{
}
.checkout__right{

}
.checkout__ad >img {
    width: 100%;
    margin-bottom: 10px;

}
.checkout__title{
    padding-left: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}