.checkout {
    margin: 20px 0;
    padding: 10px;

display: flex;
width: 100%;
flex-wrap: wrap;
height: 100vh !important;
background-color: #EAEDED;
}
.checkout__left{
    /* border: 3px solid green; */
    width: auto;
}
.checkout__ad{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: auto;

    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* width: 100vw !important; */

}
@media (max-width:48)
.checkout__right{
    width: auto;
}
.checkout__ad >img {
    /* width: 75%; */
    width: 77%;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
    
}
.checkout__title{
    padding-left: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}