.header__logo{
    padding: 1px 8px 0px 10px;
    min-width: 100px;
    /* border: none; */
    object-fit: contain;
    width: 2%;
    margin-top: 10px;
    /* margin: 0 20px; */
    /* border: 1px solid green; */
}
/* .logo-container {
    width:30%;
    height: 100%;
} */
@media (min-width:1000px){
    .header__logo  {        
        width:8%;
    } 
}
.header__logoLink {
    /* border: 1px solid white; */
    margin-top: 10px;
    width:8% !important;
    min-width: 100px;
    
}