.header__nav{
color: #FFFFFF;
/* border:1px solid red !important; */
display: flex;
width: 35%;
flex-direction: row;
justify-content:space-evenly;
}
.header__option{
display: flex;
flex-flow: column nowrap;
/* margin-left :10px; */
/* margin-right :10px; */
/* border: 1px solid red; */
margin-bottom:10px;
margin-top:10px;
}
.header__optionLineOne
{
font-size: 1.5vw;
}
.header__optionLineTwo {
    font-weight: 800;
    font-size: 1.5vw;
}
@media (min-width:1000px) {
    .header__optionLineTwo {
        font-size: 13px;
    }
    .header__optionLineOne{
        font-size: 13px;
    }
}
.shopping__baskedIcon {
    display: flex !important;
    align-items: center !important;
}
.header__basketCount {
margin-left: 5px;
font-size: 15px;
}
.shopping__baskedIcon >a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
}
.header__option>a{
    text-decoration: none;
    color: white;
}