.payment{
    /* display: flex; */
    background-color: white !important;
    border:1px solid black
}
.payment__container>h1{
    text-align: center;
padding: 10px;
background-color: rgb(234,237,237);
border-bottom: 1px solid lightgray;
font-weight: 400;
}
.payment__container{

}
.payment__section{
display: flex
}
.payment__title{

}