.checkOut__proceedToCheckoutBtn{
    background-color: #F7CA00;
    width: 90%;
    height: 28px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.subtotal {
    height: 113px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
align-items: center;


}
@media (max-width:1000px){
    .subtotal{
        width: 180px;
    }
}
input[type="checkbox"]{
    margin-right:6px;
    position:relative;
    top:1.9px;
    
}